@model List<string>
@{
    ViewData["Title"] = "History From List";
}

<h3>История за сегодня</h3>

 <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Укороченная ссылка</th>
      <th scope="col">Полная ссылка</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
        var urls = item.Split();
        <tr>
            <td>@urls[0]</td>
            <td>@urls[1]</td>
        </tr>
    }
  </tbody>
 </table>